@font-face {
  src: url(../fonts/OpenSans-Regular.woff2) format("woff2"),
  url(../fonts/OpenSans-Regular.woff) format("woff"),
  url(../fonts/OpenSans-Regular.ttf) format("ttf");
  font-family: Open-sans;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url(../fonts/OpenSans-Bold.woff2) format("woff2"),
  url(../fonts/OpenSans-Bold.woff) format("woff"),
  url(../fonts/OpenSans-Bold.ttf) format("ttf");
  font-family: Open-sans;
  font-weight: bold;
  font-style: normal;
}

html {
  font-size: 15px;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 13px;
  }
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: Open-sans;
  font-weight: regular;
  color: #0f0d0e;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

li {
  list-style-type: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

input:focus {
  outline: 1px solid #b59f5b;
}

button {
  outline: none;
  cursor: pointer;
}

.container {
  display: flex;
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .container {
      padding: 0px 35px;
    }
  }

.container--main-page {
  flex-direction: column;
  align-items: center;
}

.header {
  position: relative;
  z-index: 44;
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 8rem;
}

.logo__image {
  height: 40px;
}

@media screen and (max-width: 768px) {
.menu {
    display: none;
  }
}

.menu__list {
  display: flex;
  font-family: Open-sans;
  font-size: 13px;
  text-transform: uppercase;
  color: #fff;
}

.menu__link:hover {
  text-decoration: underline;
}

.menu__item:not(:last-child) {
  margin-right: 35px;
}

.menu__btn {
  display: none;
  position: relative;
  align-self: center;
  width: 25px;
  height: 3px;
  background-color: #fff;
}

.menu__btn::before {
  content: "";
  width: 25px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: -10px;
}

.menu__btn::after {
  content: "";
  width: 25px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: 10px;
}

@media screen and (max-width: 768px) {
  .menu__btn {
      display: block;
    }
  }

.main-page {
  position: relative;
  background-color: #182532;
  background-image: url(../images/banner-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.main-page:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000;
  opacity: 0.6;
}

.main-page__title {
  z-index: 10;
  max-width: 700px;
  color: #fff;
  font-size: 3rem;
  line-height: 5rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10rem;
}

.trend {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
  align-items: center;
}

.title--maincontent {
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin-bottom: 3rem;
  font-size: 1.3rem;
}

.title--maincontent::after {
  content: "";
  top: 35px;
  right: 50%;
  transform: translate(50%, 0%);
  position: absolute;
  width: 65px;
  height: 3px;
  background-color: #e1d9bd;
}

.trend__list {
  display: flex;
  justify-content: space-between;
  min-width: 1650px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .trend__list {
    min-width: 550px;
    width: 100%;
    flex-wrap: wrap;
    }
  }

.trend__item {
  position: relative;
  box-sizing: border-box;
  display: flex;
  width: 24.5%;
  padding: 20px;
  min-height: 21rem;
  justify-content: center;
  align-items: flex-end;
  background-color: #0f0d0e;
  background-size: cover;
  background-position: center center;
}

@media screen and (max-width: 768px) {
  .trend__item {
    width: 49.9%;
    margin-bottom: 3px;
  }
}

.trend__item--garden {
  background-image: url(../images/trend1.jpg);
}

.trend__item--cheese {
  background-image: url(../images/trend2.jpg);
}

.trend__item--mountain {
  background-image: url(../images/trend3.jpg);
}

.trend__item--lemon {
  background-image: url(../images/trend4.jpg);
}

.trend__item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000;
  opacity: 0.6;
}

.trend__desc {
  border: 3px solid #7b6f3d;
  box-sizing: border-box;
  padding: 35px;
  height: fit-content;
  max-width: 90%;
  z-index: 5;
}

.trend__text {
  font-weight: bold;
  font-size: 1.3rem;
  box-sizing: border-box;
  text-transform: uppercase;
  color: #fff;
  line-height: 1;
}

.trend__text:hover {
  color: #b59f5b;
}

.journal {
  margin-right: 2rem;
  margin-bottom: 4.3rem;
}



.journal__item:not(:last-child) {
  margin-bottom: 4rem;
}

.article {
  display: flex;
}

@media screen and (max-width: 768px) {
  .article {
  flex-direction: column;
  }
}

.article__image {
max-width: 50%;
object-fit: contain;
}

@media screen and (max-width: 768px) {
  .article__image {
  max-width: 100%;
  }
}

.article__content {
  margin-left: 30px;
}

@media screen and (max-width: 768px) {
  .article__content {
  margin-left: 0;
  }
}

.tags__list {
  display: flex;
}

.tags__item {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  color: #b59f5b;
  margin-right: 20px;
}

.tags__item:last-child {
  margin-right: 0;
}

.tags__item:hover {
  text-decoration: underline;
}

.article__title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 2rem;
}

.article__link:hover {
  color: #b59f5b;
}

.article__sources {
  display: flex;
  align-items: baseline;
  margin-bottom: 50px;
}

.article__date {
  font-size: 12px;
  color: #888;
  margin-right: 1rem;
}

.article__author {
  font-size: 12px;
  font-weight: bold;
}

aside section {
  margin-bottom: 4rem;
}

.extra-content {
  width: 34%;
}

.title--underlined {
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  margin-bottom: 3rem;
}

.title--underlined::after {
  content: "";
  top: 25px;
  right: 50%;
  transform: translate(50%, 0%);
  position: absolute;
  width: 65px;
  height: 3px;
  background-color: #e1d9bd;
}

.post {
  display: flex;
  margin-bottom: 22px;
}

.post:last-child {
  margin-bottom: 0;
}

.post__image {
  max-width: 70px;
  margin-right: 20px;
  object-fit: contain;
}

.post__date {
  font-size: 12px;
  opacity: 0.54;
  margin-bottom: 10px;
}

.post__title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

.post__link:hover {
  color: #b59f5b;
}

.search__form {
  display: flex;
}

.search__input {
  background-color: #f4f7f6;
  border: none;
  width: 250px;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

.search__input::placeholder {
  color: #000;
  font-size: 13px;
  opacity: 0.54;
}

.search__action-desc {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.search__button {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: #b59f5b;
  border: none;
}

.search__button:after {
  content: ""; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-image: url(../svg/search.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: 22;
}

.search__button:hover {
  background-color: #323232;
}

.mailing__input {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  border: none;
  background-color: #f4f7f6;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
}

.button {
  width: 100%;
  height: 50px;
  background-color: #b59f5b;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.button:hover {
  background-color: #323232;
}

.tag-searching__list {
  display: flex;
  flex-wrap: wrap;
}

.tag-searching__item {
  margin-right: 5px;
  margin-bottom: 5px; 
  border: 3px solid #eeeeee;
  padding: 5px 13px 5px 13px;
}

.tag-searching__item:hover {
  border-color: #b59f5b;
}
.tag-searching__button {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}

.themes__item {
  display: flex;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid #eee;
}

.container--footer {
  flex-direction: column;
  align-items: center;

}

.themes__link {
  position: relative;  
  font-size: 14px;
  font-weight: bold;
  margin-right: 5px;
}

.themes__link:hover {
  color: #b59f5b;
}

.themes__number {
  text-align: center;
  color: #b59f5b;
  font-size: 12px;
  position: absolute;
  left: 105%;
  top: -5px;
}

.products {
  margin-bottom: 4.3rem;
}

.products__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .products__list {
    flex-wrap: wrap;
  }
}

.products__item {
  width: 30%;
  position: relative;
  min-height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media screen and (max-width: 768px) {
  .products__item {
  width: 49%;
  margin-bottom: 20px;
  min-height: 400px;
  }
}

.products__image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -2;
  width: 85%;
}

.products__desc {
  border: 3px solid #7b6f3d;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 4.3rem;
  padding-bottom: 10px;
  box-sizing: border-box;
  width: 100%;
  min-height: 65%;
}

@media screen and (max-width: 768px) {
  .products__desc {
min-height: 70%;
  }
}

.products__name {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 5px;
}

.products__description {
  margin-bottom: 1.3rem;
} 

.products__shop {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.products__price {
  font-weight: bold;
}

.products__price--prev {
  text-decoration: line-through;
  font-size: 14px;
}

.products__price--actual {
  font-size: 1.3rem;
}

.button--products {
  width: 50%;
}

.text-link {
  color:  #b59f5b;
}

.socials {
  background-color: #f4f7f6;
  margin-bottom: 5rem;
}

.socials__list {
  width: 1170px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}



.socials__item:not(:last-child) {
  margin-right: 2rem;
}

.socials__link {
  display: block;
  width: 20px;
  height: 20px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.socials__link--pinterest {
  background-image: url(../svg/001-pinterest.svg);
}

.socials__link--twitter {
  background-image: url(../svg/004-twitter.svg)
}

.socials__link--instagram {
  background-image: url(../svg/005-instagram.svg);
}

.socials__link--tumblr {
  background-image: url(../svg/003-tumblr.svg);
}

.socials__link--facebook {
  background-image: url(../svg/002-facebook-logo.svg);
}

.socials__desc {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.footer__copyright {
  font-size: 12px;
  font-weight: bold;
  color: #999;
  margin-bottom: 2.6rem;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.popup__page {
  position: relative;
  width: 390px;
  height: 590px;
  background-color: #fff;
  box-sizing: border-box;
  padding: 3.3rem 2rem;
  z-index: 60;
}

.popup__close {
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url(../svg/form-x.svg);
  right: 0;
  top: -30px;
}

@media screen and (max-width: 768px) {
  .popup__close {
    width: 25px;
    height: 25px;
    background-size: cover;
  }
}

.feedback {
  margin-top: -15px;
}

.feedback__desc {
  font-size: 13px;
  margin-bottom: 10px;
}

.select__redesign {
  position: relative;
  background-color: #f4f7f6;
  overflow: hidden;
}

.select__redesign::after {
  content: "";
  position: absolute;
  height: 20px;
  width: 12px;
  background-image: url(../svg/form-arrows.svg);
  background-size: contain;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #7b6f3d;
  z-index: 50;
}

.select__redesign .select {
  position: relative;
  outline: none;
  border: none;
  background: transparent;
  width: 120%;
  box-sizing: border-box;
  padding: 20px;
  z-index: 70;
}

.form__row {
  margin-bottom: 30px;
}

.radio__input {
  display: none;
}

.feedback__label {
  position: relative;
  margin-left: 25px;
  margin-right: 20px;
}

.feedback__label::before {
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  left: -25px;
  bottom: 1px;
  background-image: url(../svg/form-empty-circle.svg);
  background-size: contain;
  z-index: 60;
}

.radio__input:checked + .feedback__label::before {
  background-image: url(../svg/form-circle.svg);
}

.text__input {
  width: 100%;
  height: 130px;
  box-sizing: border-box;
  border: none;
  background-color: #f4f7f6;
  outline: none;
  resize: none;
}